* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../SOAP-System/Images/Login-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm {
    background: white;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.user-icon img {
    width: 110px;
    height: auto;
    margin-bottom: 30px;
}

.loginForm h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box label {
    float: left;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 15px 15px 15px 45px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-box input:focus {
    border-color: #0078d4;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

.forgot {
    display: flex;
    align-items: center;
    float: right;
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.forgot a {
    text-decoration: none;
    color: #0078d4;
    transition: color 0.3s;
}

.forgot a:hover {
    color: #0056a3;
}

.loginForm button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background: #0078d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.loginForm button:hover {
    background: #0056a3;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #0078d4;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #0056a3;
}