/* General page styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b9292;
}

/* Form styling */
form {
    border: 3px solid #f1f1f1;
    max-width: 400px;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Avatar image */
.imgcontainer {
    text-align: center;
    margin: 16px 0 20px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

/* Button */
button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    font-size: 16px;
    transition: opacity 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Hover effect */
button:hover {
    opacity: 0.8;
}

/* Message Box */
#messageBox {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px;
    display: none;
    border-radius: 5px;
    text-align: center;
	margin-left:12px;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

/* Login link */
.login-link {
    margin-top: 16px;
    font-size: 14px;
	text-align:center;
}

.login-link a {
    color: #04AA6D;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
